<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <real>0</real>
    <key>angleVariance</key>
    <real>20.7</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <real>-1</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <real>Infinity</real>
    <key>finishColorAlpha</key>
    <real>0.5176471</real>
    <key>finishColorBlue</key>
    <real>0.3058824</real>
    <key>finishColorGreen</key>
    <real>0.3411765</real>
    <key>finishColorRed</key>
    <real>0.3058824</real>
    <key>finishColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorVarianceBlue</key>
    <real>0</real>
    <key>finishColorVarianceGreen</key>
    <real>0</real>
    <key>finishColorVarianceRed</key>
    <real>0</real>
    <key>rotationStart</key>
    <real>0</real>
    <key>rotationStartVariance</key>
    <real>0</real>
    <key>rotationEnd</key>
    <real>0</real>
    <key>rotationEndVariance</key>
    <real>0</real>
    <key>finishParticleSize</key>
    <real>34.4</real>
    <key>finishParticleSizeVariance</key>
    <real>10</real>
    <key>gravityx</key>
    <real>0</real>
    <key>gravityy</key>
    <real>0</real>
    <key>maxParticles</key>
    <real>100</real>
    <key>maxRadius</key>
    <real>0</real>
    <key>maxRadiusVariance</key>
    <real>0</real>
    <key>minRadius</key>
    <real>0</real>
    <key>minRadiusVariance</key>
    <real>0</real>
    <key>particleLifespan</key>
    <real>0</real>
    <key>particleLifespanVariance</key>
    <real>0.7</real>
    <key>radialAcceleration</key>
    <real>0</real>
    <key>radialAccelVariance</key>
    <real>86.1</real>
    <key>rotatePerSecond</key>
    <real>0</real>
    <key>rotatePerSecondVariance</key>
    <real>0</real>
    <key>sourcePositionVariancex</key>
    <real>22</real>
    <key>sourcePositionVariancey</key>
    <real>22</real>
    <key>speed</key>
    <real>0</real>
    <key>speedVariance</key>
    <real>0</real>
    <key>startColorAlpha</key>
    <real>1</real>
    <key>startColorBlue</key>
    <real>0.4901961</real>
    <key>startColorGreen</key>
    <real>0.5215687</real>
    <key>startColorRed</key>
    <real>0.4901961</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startParticleSize</key>
    <real>15.9</real>
    <key>startParticleSizeVariance</key>
    <real>32.9</real>
    <key>tangentialAcceleration</key>
    <real>-258.3</real>
    <key>tangentialAccelVariance</key>
    <real>0</real>
    <key>textureFileName</key>
    <string>card_action_zhaixinglaogui01.png</string>
    <key>textureImageData</key>
    <string>eJwBlQJq/YlQTkcNChoKAAAADUlIRFIAAAAeAAAAHggGAAAAOzCuogAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAI3SURBVHja1FcNT9swFLQTd0C3FpimaYj//+fQaNcOSFNSPxzpnnQ87CTtNlWLdHJjub5378uOFxF3jqdyZ3pOIfZmdIX3wSccSWYN1nkpvP8RMSv0mblo1gvm5W8QW3CIapALEIm8qD5MVFqBoAI8jUrW4wCwIUcpZmWKGRBgRI21StgBrxgPxv2jxNalAYQXCZcJn/A7kNp9QmvGV1L/gTwMZK+q6kmvEuYJn4E5DHBQt0t4SXgGHLlaphCLiWOAup7oOuEGWMAYB2U92SZhRftEgrOZHgZiWxPxl4TbhO8J3xK+QnkFtb8QBi2vDu7u6P0deSi42VNCXYLkBqT3MGAJ43q1j9hL3a5Qcm9rPmTc7Kk7sasXIP6RcAdDlHgGlz8lbAGtgP2p5VQjka6gfAm335JxTcIaBmrGV4XmI7lDQkaaiP65NvCFliqZvX0pxmLa3wFu3AMNXDqDMS8U05aaRxwqqVyMmVw7UQuyNTJ8hjkl/onMfoJhrSGfHGMhpUq6QZxrKF+AuEFWP6COt1DPnStOaSB6smj/bZG5axBp9s6xbg+yFQz4bVRPUizmxDkQsRrTQP0FDOG4bzHu6LCIU10ttLij+UgNYoM463yL+QbYEankjsih81iTSwxxA9LazHPmdxni93U6cL2taKyoWQQi9RSSaEoplk6mMWJXuPJUhcaTq93i5lOI3chlzzYImXLTHLvsSSbjS9daGbrqnHqvzhkjGcX/7EtCCuP/8+30JsAA85wDNTbIXW8AAAAASUVORK5CYIJ1uCbg</string>
  </dict>
</plist>