<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_anim9_10.png</key>
			<dict>
				<key>width</key>
				<integer>575</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>616</integer>
				<key>originalHeight</key>
				<integer>374</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>ui_anim9_09.png</key>
			<dict>
				<key>width</key>
				<integer>408</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>283</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>ui_anim9_08.png</key>
			<dict>
				<key>width</key>
				<integer>429</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>522</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>ui_anim9_07.png</key>
			<dict>
				<key>width</key>
				<integer>432</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>483</integer>
				<key>originalHeight</key>
				<integer>325</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>ui_anim9_06.png</key>
			<dict>
				<key>width</key>
				<integer>425</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>505</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>433</integer>
				<key>y</key>
				<integer>486</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>ui_anim9_04.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>298</integer>
				<key>originalWidth</key>
				<integer>517</integer>
				<key>originalHeight</key>
				<integer>351</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>562</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ui_anim91.png</string>
			<key>realTextureFileName</key>
			<string>ui_anim91.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>