<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

	<property name="path" value="/data/logs" />   

	<property name="serverId" value="1" />   

	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- >= -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%t]  %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Info 配置 -->
	<appender name="infoRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/info-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>

		<encoder>
			<!-- <pattern>%d %t %c - %msg%n</pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%t]  %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 异步处理 -->
	<appender name="info" class="ch.qos.logback.classic.AsyncAppender">
		<!-- = -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter> 
		<!-- 设置为不丢失日志. 默认为：如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="infoRolling" />
	</appender>

	<!-- Error 配置 -->
	<appender name="errorRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/error-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%t]  %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="error" class="ch.qos.logback.classic.AsyncAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>  
		<appender-ref ref="errorRolling" />
		<discardingThreshold>0</discardingThreshold>
	</appender>
	  
	<!-- bagExpand Info 配置 -->
	<appender name="bagExpandInfoRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bagexpand/bagExpand-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%t]  %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="bagExpandInfo" class="ch.qos.logback.classic.AsyncAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter> 
		<discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
		<appender-ref ref="bagExpandInfoRolling" />
	</appender>
	
	<!-- recruit Info 配置 -->
	<appender name="recruitInfoRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/recruit/recruit-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%t]  %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="recruitInfo" class="ch.qos.logback.classic.AsyncAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter> 
		<discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
		<appender-ref ref="recruitInfoRolling" />
	</appender>
	
	<!-- 记录腾讯扣费返回值   配置 -->
	<appender name="paymInfoRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/paym/paym-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%t]  %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="paymInfo" class="ch.qos.logback.classic.AsyncAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter> 
		<discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
		<appender-ref ref="paymInfoRolling" />
	</appender>
	
	
	<!-- Logger 配置 -->
    <logger name="bagExpand" level="INFO" additivity="false">
   	 	<appender-ref ref="bagExpandInfo" />
    </logger>
    
    <logger name="recruit" level="INFO" additivity="false">
   	 	<appender-ref ref="recruitInfo" />
    </logger>
    
    <logger name="paym" level="INFO" additivity="false">
   	 	<appender-ref ref="paymInfo" />
    </logger>
	 
	<logger name="game" level="INFO" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="info" />
		<appender-ref ref="error" />
	</logger>
	
</configuration>
