<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>banner_zi.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_1.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_9.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>549</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_10.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_11.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_12.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_13.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_14.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>575</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>poster_char_mugulaoren.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_8.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_7.png</key>
			<dict>
				<key>width</key>
				<integer>345</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>310</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_6.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>655</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_5.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_4.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_3.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>700</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>banner_2.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Banner0.png</string>
			<key>realTextureFileName</key>
			<string>Banner0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>